body{
    font-size: 52.5%;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;

    @media (min-width:$media-4) {
		font-size: 48.5%;	
	}

	@media (min-width:$media-6) {
		font-size: 52.5%;
	}
}

*{
    @include box-sizing(border-box);
}

img{
    max-width: 100%;
}	

p{
	line-height: 150%;
}

a{
	text-decoration: none;
}

.center{
	width: 80%;
	margin:0 auto;
}

.flex-1{
	@media (min-width:$media-4) {
		display: flex;
    	align-items: center;
    	justify-content: space-between;
	}
}


.flex-2{
	display: flex;
	align-items: center;
	justify-content: center;
}

.bt{
	background-color:$color-1;
	@include format-text('Lato', 900, 1.8em, 150%, $color-4);
	text-transform: uppercase;
	padding: 0.6em 1em;
	border:0px;
	cursor:pointer;
	border-radius:7px;

	@media (min-width:$media-4) {
		padding: 0.6em 0em;
	}
}

.bt-1{
	padding: 0.8em 3.2em;
}