$media-0:320px;

$media-1:480px;

$media-2:600px;

$media-3:801px;

$media-4:1025px;

$media-5:1281px;

$media-6:1600px;


@media (min-width:320px) { 
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
}

@media (min-width:480px) { 
/* smartphones, Android phones, landscape iPhone */ 
}

@media (min-width:600px) { 
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
}

@media (min-width:801px) { 
/* tablet, landscape iPad, lo-res laptops ands desktops */ 
}

@media (min-width:1025px) { 
/* big landscape tablets, laptops, and desktops */ 
}

@media (min-width:1281px) { 
/* hi-res laptops and desktops */ 
}
