@mixin font-face($font-name, $file-name) {
  @font-face {
    font-family: quote($font-name);
    src: url('../fonts/'+ $file-name +'/'+ $file-name + '.eot');
    src: url('../fonts/'+ $file-name +'/'+ $file-name + '.eot?#iefix')  format('embedded-opentype'),
    url('../fonts/'+ $file-name +'/'+ $file-name + '.woff') format('woff'),
    url('../fonts/'+ $file-name +'/'+ $file-name + '.woff2') format('woff2'),
    url('../fonts/'+ $file-name +'/'+ $file-name + '.ttf')  format('truetype'),
    url('../fonts/'+ $file-name +'/'+ $file-name + '.svg##{$font-name}')  format('svg');
  }
}

@include font-face($font-name: 'gotham-medium', $file-name:'gotham-medium');
@include font-face($font-name: 'gotham-book', $file-name:'gotham-book'); 
@include font-face($font-name: 'lato-semibold', $file-name:'lato-semibold');


@mixin format-text($fontFamily, $fontWeight, $fontSize, $lineHeight, $color) {
  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color:$color;
}

