@import "compass";

@import "compass/reset";

@import 'compass/css3/box-sizing';

@import "compass/css3";

@import "breakpoints";

@import "colors";

@import "mixins";

@import "organize";

@import "base";

#highlight{
	background:url('../images/background-0.png') no-repeat top center;
	padding:10em 0em 6em 0em;

	.content{
		@extend .flex-1;

		h1{
			text-align:center;
		}

		.button-area{
			@extend .flex-1;
			margin: 9em 0em 6em 0em;
			text-align: center;


			@media (min-width:$media-4) {
				margin-bottom:0em;
				text-align: inherit;
			}

			a{
				width: 47%;
				text-align:center;
				margin: 0em 1em;

				@media (min-width:$media-4) {
					margin: 0em;
				}
			}
		}
	}

	@media (min-width:$media-4) {
		.center{
			width: 73%;
		}

		.content-1{
			width: 28%;
			margin-top:5em;
		}

		.content-2{
			width: 71%;
		}

		//prevent IE9
		.content-1, .content-2{
			display: inline-block;
		}
		
	}
}

#login{
	.content{
		
	}

	h2{
		margin-bottom: 2.5em;
	}

	@media (min-width:$media-4) {
		.center{
			width: 48%;
		}	
	}

	@media (min-width:$media-6) {
		.center{
			width: 37%;
		}
	}
}

#cadastre-se{
	.content{
		
	}

	h3{
		margin: 2.5em 0em;
	}

	@media (min-width:$media-4) {
		.center{
			width: 57.2%;
		}
	}

	@media (min-width:$media-6) {
		.center{
			width: 44%;
		}
	}
}


.user-area{
	background:url('../images/background-1.png') top center $color-2;
	padding: 13em 0em 9em 0em;

	h2{
		@include format-text('lato', 900, 5em, 100%, $color-4);
		text-transform: uppercase;
		text-align:center;
	}

	h3{
		@include format-text('lato-semibold', 600, 2.5em, 136%, $color-4);
		text-align:center;
	}

	.help{
		a{
			@include format-text('lato', 400, 1.5em, 120%, $color-1);

			 &:hover{
			 	text-decoration: underline;
			 }
		}
	}

	@media (min-width:$media-4) {
		.line{
			width: 100%;
			margin-bottom: 5em;
			@extend .flex-1;
		}

		.full-line{
			width: 100%;
		}

		.half-line{
			width: 47%;
		}


		//prevent IE9
		.half-line{
			display: inline-block;

			&:nth-child(even){
				float: right;
			}
		}
	}

	.box{		
		margin-bottom: 4em;

		@media (min-width:$media-4) {
			margin-bottom: 0em;
		}

		input, select{
			background:transparent;
			border:0px;
			border-bottom: 0.095em solid $color-4;
			padding:0.3em 0em 0.5em 0em;
			@include format-text('lato', 400, 2.8em, 130%, $color-4);
		}

		input:focus{
			outline: none;
		}

		label{
			@include format-text('lato', 400, 1.9em, 130%, $color-4);
			margin-bottom: 0.5em;
			display: block;
		}

		input::placeholder{
			color: $color-4;
		}

		input,select, label{
			width: 100%;
		}

		small{
			@include format-text('lato', 400, 1.4em, 130%, $color-3);
			color: $color-1;
			margin-top:0.6em;
			display: none;
		}
	}

	input,select, label{
		-webkit-appearance: none;
	}

	input:invalid, select:invalid {
  		border-color:$color-1;

  		small{
			display: block;
		}
	}

	.error{
		input, select{
			border-color:$color-1;
		}
		
		
	}

	.help{
		@extend .flex-1;
		margin: 2em 0em 4em 0em;

		a{
			display: block;
			margin-bottom: 0.5em;
		}

		@media (min-width:$media-4) {
			margin-top:-2.5em;
		}
	}

	.bt-box{
		text-align: center;
		padding-top:1.5em;
	}
}

#main-footer{
	.part-1{
		background:url('../images/background-2.png') top center $color-5;
		padding: 7em 0em;

		.content{
			@extend .flex-1;
		}

		.content-2{
			text-align: center;
			margin-top:4em;
		}

		@media (min-width:$media-4) {
			.center{
				width: 70%;
			}

			.content-1{
				width: 67.5%;
			}

			.content-2{
				width: 25%;
				text-align:right;
				margin-top:0px;
			}

			//prevent IE9
			.content-1, .content-2{
				display: inline-block;
			}	
		}

		@media (min-width:$media-6) {
			.center{
				width: 54%;
			}
		}

		.legal-text{
			h3{
				@include format-text('gotham-medium', 600, 2.8em, 130%, $color-3);
				margin-bottom: 1.1em;
				text-transform: uppercase;
			}

			p{
				@include format-text('gotham-book', 300, 1em, 140%, $color-3);
			}
		}
	}

	.part-2{
		background-color:$color-1;
		padding: 1.25em 0em;

		.content{
			@extend .flex-1;
		}

		@media (min-width:$media-4) {
			.center{
				width: 76.7%;
			}

			.content-1{
				width: 39%;
			}

			.content-2{
				width: 39%;
				text-align: right;
			}	

			//prevent IE9
			.content-1, .content-2{
				display: inline-block;
			}
		}

		@media (min-width:$media-6) {
			.center{
				width: 59%;
			}
		}

		span{
			@include format-text('gotham-book', 300, 1.2em, 230%, $color-4);
			display: block;
			margin:1.5em 0em;
			text-align: center;
		}

		a{
			color: $color-2;
		}
	}
	
}

#alert-data{
	width: 100%;
	height: 100%;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background:rgba(0,0,0,0.6);
	z-index: 9;
	@extend .flex-2;
	display: none;


	.box-text{
		width: 80%;
		margin:0 auto;
		border-radius:15px;
		padding:6em;
		text-align:center;
		background-color: $color-1;
		position: absolute;
		border:2px solid #8f5c3e;

		@media (min-width:$media-4) {
			width: 40%;
			
		}

		#text-return{
			@include format-text('Lato', 700, 3em, 150%, $color-4);
			padding:1em 0em;
		}

		.close{
			width: 30px;
			position: absolute;
			cursor: pointer;
			top: 25px;
			right:25px;
		}
	}
}