@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
/* line 5, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.5.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
@font-face {
  font-family: "gotham-medium";
  src: url("../fonts/gotham-medium/gotham-medium.eot");
  src: url("../fonts/gotham-medium/gotham-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-medium/gotham-medium.woff") format("woff"), url("../fonts/gotham-medium/gotham-medium.woff2") format("woff2"), url("../fonts/gotham-medium/gotham-medium.ttf") format("truetype"), url("../fonts/gotham-medium/gotham-medium.svg#gotham-medium") format("svg");
}
@font-face {
  font-family: "gotham-book";
  src: url("../fonts/gotham-book/gotham-book.eot");
  src: url("../fonts/gotham-book/gotham-book.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-book/gotham-book.woff") format("woff"), url("../fonts/gotham-book/gotham-book.woff2") format("woff2"), url("../fonts/gotham-book/gotham-book.ttf") format("truetype"), url("../fonts/gotham-book/gotham-book.svg#gotham-book") format("svg");
}
@font-face {
  font-family: "lato-semibold";
  src: url("../fonts/lato-semibold/lato-semibold.eot");
  src: url("../fonts/lato-semibold/lato-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-semibold/lato-semibold.woff") format("woff"), url("../fonts/lato-semibold/lato-semibold.woff2") format("woff2"), url("../fonts/lato-semibold/lato-semibold.ttf") format("truetype"), url("../fonts/lato-semibold/lato-semibold.svg#lato-semibold") format("svg");
}
/* line 1, ../sass/_base.scss */
body {
  font-size: 52.5%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}
@media (min-width: 1025px) {
  /* line 1, ../sass/_base.scss */
  body {
    font-size: 48.5%;
  }
}
@media (min-width: 1600px) {
  /* line 1, ../sass/_base.scss */
  body {
    font-size: 52.5%;
  }
}

/* line 15, ../sass/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* line 23, ../sass/_base.scss */
p {
  line-height: 150%;
}

/* line 27, ../sass/_base.scss */
a {
  text-decoration: none;
}

/* line 31, ../sass/_base.scss */
.center {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 1025px) {
  /* line 36, ../sass/_base.scss */
  .flex-1, #highlight .content, #highlight .content .button-area, .user-area .help, .user-area .line, #main-footer .part-1 .content, #main-footer .part-2 .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* line 45, ../sass/_base.scss */
.flex-2, #alert-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 51, ../sass/_base.scss */
.bt {
  background-color: #e5a52c;
  font-family: "Lato";
  font-weight: 900;
  font-size: 1.8em;
  line-height: 150%;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.6em 1em;
  border: 0px;
  cursor: pointer;
  border-radius: 7px;
}
@media (min-width: 1025px) {
  /* line 51, ../sass/_base.scss */
  .bt {
    padding: 0.6em 0em;
  }
}

/* line 65, ../sass/_base.scss */
.bt-1 {
  padding: 0.8em 3.2em;
}

/* line 19, ../sass/style.scss */
#highlight {
  background: url("../images/background-0.png") no-repeat top center;
  padding: 10em 0em 6em 0em;
}
/* line 26, ../sass/style.scss */
#highlight .content h1 {
  text-align: center;
}
/* line 30, ../sass/style.scss */
#highlight .content .button-area {
  margin: 9em 0em 6em 0em;
  text-align: center;
}
@media (min-width: 1025px) {
  /* line 30, ../sass/style.scss */
  #highlight .content .button-area {
    margin-bottom: 0em;
    text-align: inherit;
  }
}
/* line 41, ../sass/style.scss */
#highlight .content .button-area a {
  width: 47%;
  text-align: center;
  margin: 0em 1em;
}
@media (min-width: 1025px) {
  /* line 41, ../sass/style.scss */
  #highlight .content .button-area a {
    margin: 0em;
  }
}
@media (min-width: 1025px) {
  /* line 54, ../sass/style.scss */
  #highlight .center {
    width: 73%;
  }
  /* line 58, ../sass/style.scss */
  #highlight .content-1 {
    width: 28%;
    margin-top: 5em;
  }
  /* line 63, ../sass/style.scss */
  #highlight .content-2 {
    width: 71%;
  }
  /* line 68, ../sass/style.scss */
  #highlight .content-1, #highlight .content-2 {
    display: inline-block;
  }
}

/* line 80, ../sass/style.scss */
#login h2 {
  margin-bottom: 2.5em;
}
@media (min-width: 1025px) {
  /* line 85, ../sass/style.scss */
  #login .center {
    width: 48%;
  }
}
@media (min-width: 1600px) {
  /* line 91, ../sass/style.scss */
  #login .center {
    width: 37%;
  }
}

/* line 102, ../sass/style.scss */
#cadastre-se h3 {
  margin: 2.5em 0em;
}
@media (min-width: 1025px) {
  /* line 107, ../sass/style.scss */
  #cadastre-se .center {
    width: 57.2%;
  }
}
@media (min-width: 1600px) {
  /* line 113, ../sass/style.scss */
  #cadastre-se .center {
    width: 44%;
  }
}

/* line 120, ../sass/style.scss */
.user-area {
  background: url("../images/background-1.png") top center #653a23;
  padding: 13em 0em 9em 0em;
}
/* line 124, ../sass/style.scss */
.user-area h2 {
  font-family: "lato";
  font-weight: 900;
  font-size: 5em;
  line-height: 100%;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
/* line 130, ../sass/style.scss */
.user-area h3 {
  font-family: "lato-semibold";
  font-weight: 600;
  font-size: 2.5em;
  line-height: 136%;
  color: #ffffff;
  text-align: center;
}
/* line 136, ../sass/style.scss */
.user-area .help a {
  font-family: "lato";
  font-weight: 400;
  font-size: 1.5em;
  line-height: 120%;
  color: #e5a52c;
}
/* line 139, ../sass/style.scss */
.user-area .help a:hover {
  text-decoration: underline;
}
@media (min-width: 1025px) {
  /* line 146, ../sass/style.scss */
  .user-area .line {
    width: 100%;
    margin-bottom: 5em;
  }
  /* line 152, ../sass/style.scss */
  .user-area .full-line {
    width: 100%;
  }
  /* line 156, ../sass/style.scss */
  .user-area .half-line {
    width: 47%;
  }
  /* line 162, ../sass/style.scss */
  .user-area .half-line {
    display: inline-block;
  }
  /* line 165, ../sass/style.scss */
  .user-area .half-line:nth-child(even) {
    float: right;
  }
}
/* line 171, ../sass/style.scss */
.user-area .box {
  margin-bottom: 4em;
}
@media (min-width: 1025px) {
  /* line 171, ../sass/style.scss */
  .user-area .box {
    margin-bottom: 0em;
  }
}
/* line 178, ../sass/style.scss */
.user-area .box input, .user-area .box select {
  background: transparent;
  border: 0px;
  border-bottom: 0.095em solid #ffffff;
  padding: 0.3em 0em 0.5em 0em;
  font-family: "lato";
  font-weight: 400;
  font-size: 2.8em;
  line-height: 130%;
  color: #ffffff;
}
/* line 186, ../sass/style.scss */
.user-area .box input:focus {
  outline: none;
}
/* line 190, ../sass/style.scss */
.user-area .box label {
  font-family: "lato";
  font-weight: 400;
  font-size: 1.9em;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 0.5em;
  display: block;
}
/* line 196, ../sass/style.scss */
.user-area .box input::placeholder {
  color: #ffffff;
}
/* line 200, ../sass/style.scss */
.user-area .box input, .user-area .box select, .user-area .box label {
  width: 100%;
}
/* line 204, ../sass/style.scss */
.user-area .box small {
  font-family: "lato";
  font-weight: 400;
  font-size: 1.4em;
  line-height: 130%;
  color: #434445;
  color: #e5a52c;
  margin-top: 0.6em;
  display: none;
}
/* line 212, ../sass/style.scss */
.user-area input, .user-area select, .user-area label {
  -webkit-appearance: none;
}
/* line 216, ../sass/style.scss */
.user-area input:invalid, .user-area select:invalid {
  border-color: #e5a52c;
}
/* line 219, ../sass/style.scss */
.user-area input:invalid small, .user-area select:invalid small {
  display: block;
}
/* line 225, ../sass/style.scss */
.user-area .error input, .user-area .error select {
  border-color: #e5a52c;
}
/* line 232, ../sass/style.scss */
.user-area .help {
  margin: 2em 0em 4em 0em;
}
/* line 236, ../sass/style.scss */
.user-area .help a {
  display: block;
  margin-bottom: 0.5em;
}
@media (min-width: 1025px) {
  /* line 232, ../sass/style.scss */
  .user-area .help {
    margin-top: -2.5em;
  }
}
/* line 246, ../sass/style.scss */
.user-area .bt-box {
  text-align: center;
  padding-top: 1.5em;
}

/* line 253, ../sass/style.scss */
#main-footer .part-1 {
  background: url("../images/background-2.png") top center #f5f5f5;
  padding: 7em 0em;
}
/* line 261, ../sass/style.scss */
#main-footer .part-1 .content-2 {
  text-align: center;
  margin-top: 4em;
}
@media (min-width: 1025px) {
  /* line 267, ../sass/style.scss */
  #main-footer .part-1 .center {
    width: 70%;
  }
  /* line 271, ../sass/style.scss */
  #main-footer .part-1 .content-1 {
    width: 67.5%;
  }
  /* line 275, ../sass/style.scss */
  #main-footer .part-1 .content-2 {
    width: 25%;
    text-align: right;
    margin-top: 0px;
  }
  /* line 282, ../sass/style.scss */
  #main-footer .part-1 .content-1, #main-footer .part-1 .content-2 {
    display: inline-block;
  }
}
@media (min-width: 1600px) {
  /* line 288, ../sass/style.scss */
  #main-footer .part-1 .center {
    width: 54%;
  }
}
/* line 294, ../sass/style.scss */
#main-footer .part-1 .legal-text h3 {
  font-family: "gotham-medium";
  font-weight: 600;
  font-size: 2.8em;
  line-height: 130%;
  color: #434445;
  margin-bottom: 1.1em;
  text-transform: uppercase;
}
/* line 300, ../sass/style.scss */
#main-footer .part-1 .legal-text p {
  font-family: "gotham-book";
  font-weight: 300;
  font-size: 1em;
  line-height: 140%;
  color: #434445;
}
/* line 306, ../sass/style.scss */
#main-footer .part-2 {
  background-color: #e5a52c;
  padding: 1.25em 0em;
}
@media (min-width: 1025px) {
  /* line 315, ../sass/style.scss */
  #main-footer .part-2 .center {
    width: 76.7%;
  }
  /* line 319, ../sass/style.scss */
  #main-footer .part-2 .content-1 {
    width: 39%;
  }
  /* line 323, ../sass/style.scss */
  #main-footer .part-2 .content-2 {
    width: 39%;
    text-align: right;
  }
  /* line 329, ../sass/style.scss */
  #main-footer .part-2 .content-1, #main-footer .part-2 .content-2 {
    display: inline-block;
  }
}
@media (min-width: 1600px) {
  /* line 335, ../sass/style.scss */
  #main-footer .part-2 .center {
    width: 59%;
  }
}
/* line 340, ../sass/style.scss */
#main-footer .part-2 span {
  font-family: "gotham-book";
  font-weight: 300;
  font-size: 1.2em;
  line-height: 230%;
  color: #ffffff;
  display: block;
  margin: 1.5em 0em;
  text-align: center;
}
/* line 347, ../sass/style.scss */
#main-footer .part-2 a {
  color: #653a23;
}

/* line 354, ../sass/style.scss */
#alert-data {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9;
  display: none;
}
/* line 367, ../sass/style.scss */
#alert-data .box-text {
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  padding: 6em;
  text-align: center;
  background-color: #e5a52c;
  position: absolute;
  border: 2px solid #8f5c3e;
}
@media (min-width: 1025px) {
  /* line 367, ../sass/style.scss */
  #alert-data .box-text {
    width: 40%;
  }
}
/* line 382, ../sass/style.scss */
#alert-data .box-text #text-return {
  font-family: "Lato";
  font-weight: 700;
  font-size: 3em;
  line-height: 150%;
  color: #ffffff;
  padding: 1em 0em;
}
/* line 387, ../sass/style.scss */
#alert-data .box-text .close {
  width: 30px;
  position: absolute;
  cursor: pointer;
  top: 25px;
  right: 25px;
}
